<div class="span12">
    <form class="form-horizontal" action="/admin/participants/edit" method="post">
        <fieldset>
            <legend>{{ participant.name }} - {{ participant.registrationId }}</legend>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Package</th>
                    <th>Enrolled On</th>
                    <th>Started On</th>
                    <th>Finished On</th>
                    <th>Score</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for enrollment in enrollments %}
                    <tr class="{% if enrollment.isFinished %}success{% elseif enrollment.isStarted %}info{% else %}error{% endif %}">
                        <td>{{ enrollment.id }}</td>
                        <td>{{ enrollment.package.name }}</td>
                        <td>{{ enrollment.createdOn | date('d-M-Y') }}</td>
                        <td>{{ enrollment.startedOn ? enrollment.startedOn | date('d-M-Y H:i:s') : '-' }}</td>
                        <td>{{ enrollment.finishedOn ? enrollment.finishedOn | date('d-M-Y H:i:s') : '-' }}</td>
                        <td>{{ score(enrollment) }} <span class="pull-right">({{ enrollment.correctAnswers | length }} of {{ enrollment.package.totalQuestions }})</span></td>
                        <td>
                            {% if enrollment.isFinished %}
                                <a href="/admin/enrollments/detail/{{ enrollment.id }}" id="detail" class="btn btn-mini pull-right" data="{{ participant.id }}">
                                    <i class="icon-zoom-in"></i> Detail
                                </a>
                            {% endif %}
                            {% if not enrollment.isStarted %}
                                <a href="#removeAlert" data-toggle="modal" id="remove" class="btn btn-danger btn-mini pull-right detail" data="{{ participant.id }}">
                                    <i class="icon-trash"></i> Remove
                                </a>
                                <div id="removeAlert" class="modal hide" aria-hidden="true">
                                    <div class="modal-header">
                                        <button data-dismiss="modal" class="close" type="button">×</button>
                                        <h3>Remove Enrollment</h3>
                                    </div>
                                    <div class="modal-body">
                                        <p>Once removed, participant will not be able to attend this enrollment.</p>
                                        <p>Remove enrollment?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="/admin/enrollments/remove" method="post">
                                            <input type="hidden" name="id" value="{{ enrollment.id }}">
                                            <button data-dismiss="modal" class="btn btn-danger btn-primary" type="submit">Remove</button>
                                            <a data-dismiss="modal" class="btn" href="#">Cancel</a>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                            {% if enrollment.isStarted and not enrollment.isFinished %}
                                <a href="#restartAlert" data-toggle="modal" id="restart" class="btn btn-danger btn-mini pull-right detail" data="{{ participant.id }}">
                                    <i class="icon-repeat"></i> Restart
                                </a>
                                <div id="restartAlert" class="modal hide" aria-hidden="true">
                                    <div class="modal-header">
                                        <button data-dismiss="modal" class="close" type="button">×</button>
                                        <h3>Restart Enrollment</h3>
                                    </div>
                                    <div class="modal-body">
                                        <p>Restart enrollment?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="/admin/enrollments/restart" method="post">
                                            <input type="hidden" name="id" value="{{ enrollment.id }}">
                                            <button class="btn btn-danger btn-primary" type="submit">Restart</button>
                                            <a data-dismiss="modal" class="btn" href="#">Cancel</a>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </form>
</div>
<script>
    $("a.remove").on("click", function() {

    });
</script>