{% extends 'ExamWebBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="medium-8 columns question">
            <fieldset>
                <legend><span class="question-count"></span></legend>
                <div class="relative-container">
                    <div class="panel panel-full">
                       <ul class="question-container">
                           {% for question in package.questions %}
                           <li data-id={{ loop.index }}>
                               <p>{{ question.description }}</p>

                               <div class="choose">
                                   <label>Choose Your Answer : </label>

                                   {% for option in question.options %}
                                   <label for="">
                                       <input type="radio" name="pokemon" value="Red" id="option11">
                                   </label>
                                   {% endfor %}

                               </div>
                           </li>
                           {% endfor %}
                       </ul>
                    </div>

                    <div class="action row row-nomargin">
                        <div class="medium-6 columns"><button class="button medium-12 secondary radius" id="controller-prev"><i class="fa fa-arrow-circle-o-left"></i> PREVIOUS</button></div>
                        <div class="medium-6 columns"><button class="button medium-12 secondary radius" id="controller-next">NEXT <i class="fa fa-arrow-circle-o-right"></i></button></div>
                    </div>
                    <div class="frozen">
                        <img src="{{ asset('img/loading.gif') }}">
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="medium-4 columns">
            <fieldset>
                <legend>Time Remaining</legend>
                <div class="relative-container">
                    <div class="time">
                        <img src="https://cdn1.iconfinder.com/data/icons/Vector-Icon-set-1-BevelAndEmboss-Net/89/alarm-clock.png"><label id="timer">-</label>
                    </div>
                    <div class="frozen"></div>
                </div>
            </fieldset>
        </div>
        <div class="medium-4 columns">
            <fieldset>
                <legend>Question Palette</legend>
                <ul class="palette-container">
                    {% for item in 1..35 %}
                        <li data-id={{ loop.index }}>{{ item }}</li>
                    {% endfor %}
                </ul>
            </fieldset>
            <div class="palette-information clearfix">
                <table>
                    <tr>
                        <td>
                            <div class="box answered"></div>
                        </td>
                        <td>Answered</td>
                        <td><div class="box skipped"></div></td>
                        <td>Skipped</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="box not-visited"></div>
                        </td>
                        <td>Not Visited</td>
                        <td>
                            <div class="box current"></div>
                        </td>
                        <td>Current</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}